html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  width: auto;
}

/* nav*/
.navbar {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;

  height: 85px;
  margin-right: 0px;
  top: 0;
  margin-bottom: 0;
  color: rgb(77, 70, 70);
  text-decoration: none;

}

/*imagem logo*/
.navbar img {
  display: flex;
  align-content: center;
  align-items: initial;
  float: left;
  justify-content: center;
  flex-direction: column;
  padding-top: 1vw;

}

/*menu*/
.navbar li {
  color: rgb(61, 61, 61);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding-right: 2vw;
}

.navbar li a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(104, 102, 101);
  font-weight: bold;
}

nav button {
  justify-items: center;
  align-items: center;
  background-color: #415a77;
  border-style: inherit;
  border-color: rgb(23, 62, 97);
}

/*.........................................*/
.banner_inicio {
  background-image: url(img/home.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 100px;
}

.banner_beneficio {
  background-image: url(img/beneficio.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 0;
}

.banner_nossos_serviços {
  background-image: url(img/nossos_servicos.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 0px;
}

.banner_equipe {
  background-image: url(img/4.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 0px;
}

.banner_contato {
  background-image: url(img/5.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 0;

}

#submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

#submit p {

  margin: 8px;
}

#submit input {

  height: 25px;
  width: 100px;
  border-radius: 20px;
  font-size: 16px;
  border-color: #F1FAEE;
  border-style: solid;
  font-weight: bold;
  margin-left: 10px;

}

.formcontato {

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 30px;
  padding-top: 10px;
  padding-left: 741px;
  height: 400px;
  width: 375px;



}

.formcontato input {
  border-radius: 10px;
  font-size: 25px;
  border-style: solid;
  border-width: 0px;
  height: 30px;
  background-color: #fed9c3;
  margin: 8px;
}

.formcontato button {
  border-style: solid;
  border-radius: 30px;
  border-width: 0px;
  background-color: transparent;
}


/*logado*/
.banner00 {
  background-image: url(img/diadia.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  margin-top: 0;
  padding-top: 120px;
  color: azure;
}

.banner4 {
  background-image: url(img/cadastro2.png);
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-top: 0;
  padding-top: 120px;
  color: azure;
}

.banner5 {
  background-image: url(img/estoque.png);
  background-size: cover;
  height: 420px;
  width: 100%;
  margin-top: 20px;
  padding-top: 170px;
  color: black;
}

.banner6 {
  background-image: url(img/agenda.png);
  background-size: cover;
  height: 800px;
  width: 100%;
  background-color: #fc7f36;

}

.bannercadastro {
  background-image: url(img/cadastro.png);
  background-size: cover;
  height: 660px;
  width: 100%;
  margin-top: 0;
  padding-top: 120px;
}

.bannerestoque {
  background-image: url(img/estoque.png);
  background-size: cover;
  background-color: #fc7f36;
  height: 600px;
  width: auto;

}

.painelPrincipal {
  padding: 130px;
  ;
}

.rodape {

  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.rodape button {

  background-color: transparent;
  cursor: pointer;
  border: none;
}

.rodape h5 {
  font-size: 25px;
  color: #464b52;

}

.cxtxt {
  background-color: #ffffff;
  opacity: 70%;
  margin: 0 10px;
}

.tarefasCheck li {

  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.tarefasCheck input {

  background-color: #ffffff;
  opacity: 70%;
  color: #686363;
  font-size: 15px;
  height: 20px;
  font-weight: bold;
}

#diadia {
  padding-left: 20px;
  color: #fc7f36;
  font-weight: bolder;
  font-size: 20px;


}

#diadia input {

  color: rgb(85, 85, 82);
  font-size: 15px;
  font-weight: bolder;
  height: 23px;
  border: none;
  border-radius: 15px;
  background-color: rgb(224, 224, 220);
}

#salvarAnotacao {

  border: none;
  border-radius: 15px;
  height: 25px;
  width: 85px;
  font-size: 14px;
  font-weight: bold;
  color: #b54403;
  background-color: #FAFAFA;
}

#myCheck {

  height: 15px;
  width: 35px;
}

#fieldEstoque {

  color: #fc7f36;
  font-weight: bolder;
  font-size: 20px;

}

#estoque input {

  background-color: #B8B8B8;
  color: #424641;
  font-weight: bolder;
  height: 23px;
  border: none;
  border-radius: 15px;
}

#botaoEnviar, #botaoSend {
  border: none;
  border-radius: 35px;
  height: 35px;
  width: 95px;
  font-size: 15px;
  font-weight: bold;
  color: #42403f;
  background-color: #B8B8B8;
  margin: 20px;
}

#tabelaEstoque {

  background-color: rgb(234, 232, 235);
  color: #42403f;
  text-align: center;
  font-size: 16px;
  margin: 10px 20px;
}

#tabelaCadastro {

  background-color: rgb(234, 232, 235);
  color: #42403f;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
}

#agenda {


  padding: 50px;
  padding-top: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: bold;
  color: rgb(68, 66, 66);
  gap: 10px;

}

.liagenda {
  list-style-type: none;
  justify-content: left;
  align-items: flex-start;
  font-size: 15px;
  font-weight: bold;
  color: rgb(68, 66, 66);
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;

}


.liagenda input {
  justify-content: left;
  border: 0px;
  color: rgb(61, 60, 60);
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 60%;
  margin: 1.5px;
}

.cxAgenda {
  color: rgb(61, 60, 60);
  background-color: #ffffff;
  opacity: 60%;
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
}

#data {
  opacity: 60%;
  border-radius: 5px;
  border-color: #fc7f36;

  font-size: 15px;
  font-weight: bold;
  color: rgb(68, 66, 66);
}

#cadaData {

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: left;
}
